body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.App {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
